In [2]:
import pandas as pd 
import numpy as np 
import matplotlib as plt 
import sqlite3

# Pipeline

Data pipeline is a generic term for transfering data from one or more sources to a destination.

## ETL

A ETL pipeline is a procedure that `extract` data from a source or multiple sources, `transform` the data according with the project specifications and `load` the data to its destination. 

> Extract data -> Tansform data -> Load data into database -> Create an ETL pipeline

## ELT 

A ELT pipeline differs from ETL in order of processes. In ELT the load are done previously than transformation.

### Extracting data

In [3]:
# Extracting projects data as dataframe
projects = pd.read_csv(r'data\api.csv')

In [4]:
# Extracting GDP data as dataframe
gdp = pd.read_csv(r'data\API_NY.GDP.MKTP.CD_DS2_en_csv_v2_1345540.csv', skiprows=[0,1,2,3])

In [11]:
# Extracting population data as dataframe
population = pd.read_csv(r'data\API_SP.POP.TOTL_DS2_en_csv_v2_1345178.csv', skiprows=[0,1,2,3])

### Connecting with GPD

In [5]:
# Connecting with database
conn = sqlite3.connect('gpd.db')

In [10]:
df = gdp
for column in df.columns:
    if type(column) == str:
        column = column.replace(' ','_')
df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', 'Unnamed: 64'],
      dtype='object')

In [7]:
# pd.to_sql 
# Write records stored in a DataFrame to a SQL database.
df.to_sql('gdp_test', conn, if_exists="replace")

## Population Data

In [9]:
pd.read_sql('SELECT "Country_Name", "Country_Code", "1960" FROM population_data', conn)

DatabaseError: Execution failed on sql 'SELECT "Country_Name", "Country_Code", "1960" FROM population_data': no such table: population_data